.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    z-index: 9;
  }
  
  .content {
    background-color: white;
    border: 2px solid gray;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    z-index: 10;
    border-radius: 10px;
  }