.summary {
    width: 56%;
    background-color: rgb(88, 88, 88);
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 22%;
    box-shadow: rgba(0, 0, 0, 0.473) 0px 3px 8px;
  }